 .form-search {
  max-width: 650px;
  padding: 0 15px;
  margin: 30px auto 0;
  position: relative;
}
.form-control-search {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.form-search .form-control-search {
  box-shadow: none;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  color: #050818;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  line-height: 1.5;
  padding: 6px 20px;
}
.btn-submit {
  position: absolute;
  right: 18px;
  border: none;
  padding: 0px 12px;
  height: 44px;
  line-height: 30px;
  width: 44px;
  display: block;
  top: 3px;
  opacity: .85;
  transition: all .2s;
  background-color: black;
    color: white;
}
.form-search {
  max-width: 650px;
  padding: 0 15px;
  margin: 0px auto 0;
  position: relative;
}
body {
  background: linear-gradient(-45deg, rgba(147, 26, 222, 0.83) 0%, rgba(28, 206, 234, 0.82) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: auto;
}
.filter-bar {
  background-color: rgba(255, 255, 255, 0);
  border-color: transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  padding: 25px 15px 15px;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.logo {
  width: 100px;
}
.naviBg {
  background-color: #00000094 !important;
}
.fontSize20 {
font-size: 20px;
}
.divContainer {
  border: 1px solid rgba(0, 0, 0, 0.401);
  border-radius: 10px;
  padding: 10px;
  /* margin: -1px 23px; */
  background: #ffffff45;
}
.bgImage {
  background-image: url("./assets/bgImage.jpg");
  width: 100%;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.containers {
  width: 70%;
}

@media screen and (max-width: 600px) {
  .containers {
    width: 100%;
  }
}
.footerDiv {

}
.inputColor {
  background-color: #ffffff3d;
}
.bgblack {
  background-color: #000000a3 !important;
}
.colorwhite {
  color: gray !important;
}